[submodule "vim/colors/vim-colors-solarized"]
	path = vim/colors/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/pack/git-plugins/start/ale"]
	path = vim/pack/git-plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/plugged/typescript-vim"]
	path = vim/plugged/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim/plugged/vim-polyglot"]
	path = vim/plugged/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
